@font-face {
    font-family: 'Rajdhani Light';
    src: url('fonts/rajdhani/rajdhani-light-webfont.eot');
    src: url('fonts/rajdhani/rajdhani-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rajdhani/rajdhani-light-webfont.woff2') format('woff2'),
         url('fonts/rajdhani/rajdhani-light-webfont.woff') format('woff'),
         url('fonts/rajdhani/rajdhani-light-webfont.ttf') format('truetype'),
         url('fonts/rajdhani/rajdhani-light-webfont.svg#rajdhaniregular') format('svg');
    font-weight: 100;
    font-style: normal;
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Rajdhani Regular';
    src: url('fonts/rajdhani/rajdhani-regular-webfont.eot');
    src: url('fonts/rajdhani/rajdhani-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rajdhani/rajdhani-regular-webfont.woff2') format('woff2'),
         url('fonts/rajdhani/rajdhani-regular-webfont.woff') format('woff'),
         url('fonts/rajdhani/rajdhani-regular-webfont.ttf') format('truetype'),
         url('fonts/rajdhani/rajdhani-regular-webfont.svg#rajdhaniregular') format('svg');
    font-weight: 200;
    font-style: normal;
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Rajdhani Medium';
    src: url('fonts/rajdhani/rajdhani-medium-webfont.eot');
    src: url('fonts/rajdhani/rajdhani-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rajdhani/rajdhani-medium-webfont.woff2') format('woff2'),
         url('fonts/rajdhani/rajdhani-medium-webfont.woff') format('woff'),
         url('fonts/rajdhani/rajdhani-medium-webfont.ttf') format('truetype'),
         url('fonts/rajdhani/rajdhani-medium-webfont.svg#rajdhaniregular') format('svg');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Rajdhani Semibold';
    src: url('fonts/rajdhani/rajdhani-semibold-webfont.eot');
    src: url('fonts/rajdhani/rajdhani-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rajdhani/rajdhani-semibold-webfont.woff2') format('woff2'),
         url('fonts/rajdhani/rajdhani-semibold-webfont.woff') format('woff'),
         url('fonts/rajdhani/rajdhani-semibold-webfont.ttf') format('truetype'),
         url('fonts/rajdhani/rajdhani-semibold-webfont.svg#rajdhaniregular') format('svg');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Rajdhani Bold';
    src: url('fonts/rajdhani/rajdhani-bold-webfont.eot');
    src: url('fonts/rajdhani/rajdhani-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rajdhani/rajdhani-bold-webfont.woff2') format('woff2'),
         url('fonts/rajdhani/rajdhani-bold-webfont.woff') format('woff'),
         url('fonts/rajdhani/rajdhani-bold-webfont.ttf') format('truetype'),
         url('fonts/rajdhani/rajdhani-bold-webfont.svg#rajdhaniregular') format('svg');
    font-weight: 800;
    font-style: normal;
    unicode-range: U+0020-007F;
}
