@font-face {
    font-family: 'Comfortaa Thin';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/comfortaa/comfortaa_thin-webfont.woff2') format('woff2'),
         url('fonts/comfortaa/comfortaa_thin-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/comfortaa/comfortaa_regular-webfont.woff2') format('woff2'),
         url('fonts/comfortaa/comfortaa_regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Comfortaa Bold';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/comfortaa/comfortaa_bold-webfont.woff2') format('woff2'),
         url('fonts/comfortaa/comfortaa_bold-webfont.woff') format('woff');
}
