@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/sourcecodepro-light-webfont.woff2') format('woff2'),
         url('fonts/sourcecodepro-light-webfont.woff') format('woff');
    unicode-range: U+0020-007F, U+00A0-00FF, U+2000-206F; /* Basic Latin, Latin-1 Supplement, General Punctuation */
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/sourcecodepro-semibold-webfont.woff2') format('woff2'),
         url('fonts/sourcecodepro-semibold-webfont.woff') format('woff');
    unicode-range: U+0020-007F, U+00A0-00FF, U+2000-206F; /* Basic Latin, Latin-1 Supplement, General Punctuation */
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/sourcecodepro-bold-webfont.woff2') format('woff2'),
         url('fonts/sourcecodepro-bold-webfont.woff') format('woff');
    unicode-range: U+0020-007F, U+00A0-00FF, U+2000-206F; /* Basic Latin, Latin-1 Supplement, General Punctuation */
}
* {
    box-sizing: border-box;
}
body {
    background-color: #777;
    font-family: 'Source Code Pro', monospace;
    font-size: 0;
    text-align: center;
}
input {
    margin: 0;
    opacity: 0;
    position: fixed;
    z-index: -10;
}
.bg {
    background-color: #222;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color 0.25s;
    z-index: -1;
}
#toggle-theme:checked ~ .bg {
    background-color: #ddd;
}
.dial {
    background-color: #000;
    border-radius: 50%;
    color: #eee;
    height: 97vw;
    left: 0;
    margin: 2vw auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.25s, color 0.25s;
    width: 97vw;
}
#toggle-theme:checked ~ .dial {
    background-color: #fff;
    color: #111;
}
.title, .copyright {
    position: absolute;
    width: 100%;
}
.title {
    font-weight: 700;
    line-height: 1.125;
    font-size: 3.3vw;
    top: 32.25%;
}
.copyright {
    bottom: 35.5%;
    font-size: 2vw;
    font-weight: 300;
}
.display-analog {
    color: #fff;
    border-radius: 50%;
    height: 97vw;
    margin: 2vw auto;
    position: relative;
    transform: rotate(180deg);
    transition: background-color 0.25s, color 0.25s, transform 1s;
    width: 97vw;
}
#toggle-orientation:checked ~ .display-analog {
    transform: rotate(0);
}
#toggle-theme:checked ~ .display-analog {
    color: #000;
}
.display-digital {
    background-color: #000;
    display: inline-block;
    font-size: 6.6vw;
    font-weight: 600;
    margin: 0 auto;
    padding: 1.2vw 1.1vw 1.4vw;
    text-indent: 1.5vw;
    transition: background-color 0.25s;
}
#toggle-theme:checked ~ .display-digital {
    background-color: #fff;
}
.rule {
    background-color: red;
    display: none;
    position: absolute;
}
.rule-hori {
    height: 0.2%;
    top: 49.9%;
    width: 100%;
}
.rule-vert {
    height: 100%;
    left: 49.9%;
    width: 0.2%;
}
.pip {
    left: 50%;
    position: absolute;
}
.pip-month {
    font-size: 6vw;
    height: 31.5%; /* 50% - top */
    top: 18.5%;
    width: 31.5%; /* same as height */
}
.pip-day {
    font-size: 4vw;
    height: 39%;
    top: 11%;
    width: 39%;
}
.pip-hour {
    font-size: 3vw;
    height: 44.5%;
    top: 5.5%;
    width: 44.5%;
}
.pip-minute {
    font-size: 2vw;
    height: 48.5%;
    top: 1.5%;
    width: 48.5%;
}
.pip > * {
    font-weight: 300;
    height: 100%;
    left: -15%;
    position: absolute;
    transform-origin: 50% 100%;
    width: 30%;
}
.pip > strong {
    font-weight: 700
}
.hand {
    position: absolute;
    transition: background-color 0.25s;
}
.hand-month {
    background-color: #ddd;
    height: 29.5%; /* 55% - top */
    left: 46.75%; /* 50% - width / 2 */
    top: 25.5%;
    transform-origin: 50% 83.1%; /* 50% eyeball% */
    transform: rotate(0deg);
    width: 6.5%;
}
#toggle-theme:checked ~ * .hand-month {
    background-color: #222;
}
.hand-day {
    background-color: #bbb;
    height: 39.4%;
    left: 47.75%;
    top: 15.6%;
    transform-origin: 50% 87.2%;
    transform: rotate(0deg);
    width: 4.5%;
}
#toggle-theme:checked ~ * .hand-day {
    background-color: #444;
}
.hand-hour {
    background-color: #999;
    height: 46%;
    left: 48.75%;
    top: 9%;
    transform-origin: 50% 89%;
    transform: rotate(0deg);
    width: 2.5%;
}
#toggle-theme:checked ~ * .hand-hour {
    background-color: #666;
}
.hand-minute {
    background-color: #777;
    height: 51%;
    left: 49.5%;
    top: 4%;
    transform-origin: 50% 90.3%;
    transform: rotate(0deg);
    width: 1%;
}
#toggle-theme:checked ~ * .hand-minute {
    background-color: #888;
}
.hand-second {
    background-color: #555;
    height: 53.6%;
    left: 49.875%;
    top: 1.4%;
    transform-origin: 50% 90.7%;
    transform: rotate(0deg);
    width: 0.5%;
}
#toggle-theme:checked ~ * .hand-second {
    background-color: #aaa;
}
.digit {
    color: #333;
    transition: color 0.25s;
}
#toggle-theme:checked ~ * .digit {
    color: #ccc;
}
.digit-month {
    color: #ddd;
}
#toggle-theme:checked ~ * .digit-month {
    color: #222;
}
.digit-day {
    color: #bbb;
}
#toggle-theme:checked ~ * .digit-day {
    color: #444;
}
.digit-hour {
    color: #999;
}
#toggle-theme:checked ~ * .digit-hour {
    color: #666;
}
.digit-minute {
    color: #777;
}
#toggle-theme:checked ~ * .digit-minute {
    color: #888;
}
.digit-second {
    color: #555;
}
#toggle-theme:checked ~ * .digit-second {
    color: #aaa;
}
.sep-hori {
    display: block;
}
.toggle-label {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 3.4vw;
    font-weight: 600;
    height: 22.5vw;
    margin: 2vw 1vw;
    position: relative;
    transition: background-color 0.25s, color 0.25s;
    width: 22.5vw;
}
.toggle-label::before {
    background-color: #333;
    content: '';
    height: calc(50% - 1vw);
    left: 1vw;
    position: absolute;
    right: 1vw;
    transform: translateY(calc(100% + 1vw));
    transition: background-color 0.25s, transform 0.25s;
}
.toggle-label span {
    bottom: auto;
    height: 50%;
    left: 0;
    line-height: 12vw;
    position: absolute;
    right: 0;
    top: 0;
}
.toggle-label span:last-child {
    bottom: 0;
    line-height: 10vw;
    top: auto;
}
#toggle-theme:checked ~ .toggle-label {
    background-color: #fff;
    color: #000;
}
#toggle-theme:checked ~ .toggle-label::before {
    background-color: #ccc;
}
#toggle-month:checked ~ #toggle-label-month::before {
    transform: translateY(1vw);
}
#toggle-time:checked ~ #toggle-label-time::before {
    transform: translateY(1vw);
}
#toggle-orientation:checked ~ #toggle-label-orientation::before {
    transform: translateY(1vw);
}
#toggle-theme:checked ~ #toggle-label-theme::before {
    transform: translateY(1vw);
}
#toggle-month:active ~ #toggle-label-month {
    background-color: #111;
}
#toggle-time:active ~ #toggle-label-time {
    background-color: #111;
}
#toggle-orientation:active ~ #toggle-label-orientation {
    background-color: #111;
}
#toggle-theme:active ~ #toggle-label-theme {
    background-color: #111;
}
#toggle-month:active ~ #toggle-theme:checked ~ #toggle-label-month {
    background-color: #eee;
}
#toggle-time:active ~ #toggle-theme:checked ~ #toggle-label-time {
    background-color: #eee;
}
#toggle-orientation:active ~ #toggle-theme:checked ~ #toggle-label-orientation {
    background-color: #eee;
}
#toggle-theme:active ~ #toggle-theme:checked ~ #toggle-label-theme {
    background-color: #eee;
}
#toggle-label-month {
    cursor: not-allowed;
}
#toggle-label-month::before {
    display: none;
}
@media screen and (min-aspect-ratio: 3/4) {
    .dial, .display-analog {
        height: 70vh;
        margin: 1.5vh auto;
        width: 70vh;
    }
    .title {
        font-size: 2.4vh;
    }
    .copyright {
        font-size: 1vh;
    }
    .display-digital {
        font-size: 4.7vh;
        padding: 1.3vh 1.6vh 1.6vh;
        text-indent: 1vh;
    }
    .pip-month {
        font-size: 4.4vh;
    }
    .pip-day {
        font-size: 2.9vh;
    }
    .pip-hour {
        font-size: 2.25vh;
    }
    .pip-minute {
        font-size: 1.5vh;
    }
    .toggle-label {
        font-size: 2.6vh;
        height: 16.3vh;
        margin: 1.5vh 0.75vh;
        width: 16.3vh;
    }
    .toggle-label::before {
        height: calc(50% - 0.5vh);
        left: 0.5vh;
        right: 0.5vh;
        transform: translateY(calc(100% + 0.5vh));
    }
    .toggle-label span {
        line-height: 8.5vh;
    }
    .toggle-label span:last-child {
        line-height: 8vh;
    }
    #toggle-month:checked ~ #toggle-label-month::before {
        transform: translateY(0.5vh);
    }
    #toggle-time:checked ~ #toggle-label-time::before {
        transform: translateY(0.5vh);
    }
    #toggle-orientation:checked ~ #toggle-label-orientation::before {
        transform: translateY(0.5vh);
    }
    #toggle-theme:checked ~ #toggle-label-theme::before {
        transform: translateY(0.5vh);
    }
}
@media screen and (min-aspect-ratio: 4/3) {
    .dial, .display-analog {
        height: 83.5vh;
        margin: 2.5vh auto;
        width: 83.5vh;
    }
    .title {
        font-size: 2.8vh;
    }
    .copyright {
        font-size: 1.1vh;
    }
    .display-digital {
        font-size: 5.6vh;
    }
    .pip-month {
        font-size: 5.5vh;
    }
    .pip-day {
        font-size: 3.4vh;
    }
    .pip-hour {
        font-size: 2.6vh;
    }
    .pip-minute {
        font-size: 1.8vh;
    }
    .toggle-label {
        height: 21.75vh;
        margin: 2.5vh;
        position: absolute;
        right: 0;
        width: 21.75vh;
        z-index: 1;
    }
    .toggle-label {
        font-size: 3.2vh;
    }
    .toggle-label::before {
        height: calc(50% - 1vh);
        left: 1vh;
        right: 1vh;
        transform: translateY(calc(100% + 1vh));
    }
    .toggle-label span {
        line-height: 11.5vh;
    }
    .toggle-label span:last-child {
        line-height: 10vh;
    }
    #toggle-month:checked ~ #toggle-label-month::before {
        transform: translateY(1vh);
    }
    #toggle-time:checked ~ #toggle-label-time::before {
        transform: translateY(1vh);
    }
    #toggle-orientation:checked ~ #toggle-label-orientation::before {
        transform: translateY(1vh);
    }
    #toggle-theme:checked ~ #toggle-label-theme::before {
        transform: translateY(1vh);
    }
    #toggle-label-month {
        top: 0;
    }
    #toggle-label-time {
        top: 24.25vh;
    }
    #toggle-label-orientation {
        top: 48.5vh;
    }
    #toggle-label-theme {
        top: 72.75vh;
    }
}
