@font-face {
    font-family: 'Rajdhani';
    src: url('fonts/rajdhani-light-webfont.eot');
    src: url('fonts/rajdhani-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rajdhani-light-webfont.woff') format('woff'),
         url('fonts/rajdhani-light-webfont.ttf') format('truetype'),
         url('fonts/rajdhani-light-webfont.svg#rajdhaniregular') format('svg');
    font-weight: 100;
    font-style: normal;
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Rajdhani';
    src: url('fonts/rajdhani-semibold-webfont.eot');
    src: url('fonts/rajdhani-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rajdhani-semibold-webfont.woff') format('woff'),
         url('fonts/rajdhani-semibold-webfont.ttf') format('truetype'),
         url('fonts/rajdhani-semibold-webfont.svg#rajdhaniregular') format('svg');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'Rajdhani';
    src: url('fonts/rajdhani-bold-webfont.eot');
    src: url('fonts/rajdhani-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rajdhani-bold-webfont.woff') format('woff'),
         url('fonts/rajdhani-bold-webfont.ttf') format('truetype'),
         url('fonts/rajdhani-bold-webfont.svg#rajdhaniregular') format('svg');
    font-weight: 800;
    font-style: normal;
    unicode-range: U+0020-007F;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #777;
    font-family: 'Rajdhani', Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}
input {
    margin: 0;
    opacity: 0;
    position: fixed;
    z-index: -10;
}
.bg {
    background-color: #222;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}
#toggle-theme:checked ~ .bg {
    background-color: #ddd;
    color: #000;
}
.display-analog {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    height: 92.5vw;
    margin: 3.5vw auto;
    position: relative;
    width: 92.5vw;
}
#toggle-theme:checked ~ .display-analog {
    background-color: #fff;
    color: #000;
}
.display-digital {
    background-color: #000;
    color: #fff;
    font-size: 6.9vw;
    margin: 0 auto;
    padding: 1% 1.75% 0.75%;
    width: 92.5vw;
}
#toggle-theme:checked ~ .display-digital {
    background-color: #fff;
    color: #000;
}
.pip {
    left: 50%;
    position: absolute;
}
.pip-month {
    font-size: 7vw;
    height: 31.5%; /* 50% - top */
    top: 18.5%;
    width: 31.5%; /* same as height */
}
.pip-day {
    font-size: 4.25vw;
    height: 39%;
    top: 11%;
    width: 39%;
}
.pip-hour {
    font-size: 3vw;
    height: 44.75%;
    top: 5.25%;
    width: 44.75%;
}
.pip-minute {
    font-size: 2vw;
    height: 48.5%;
    top: 1.5%;
    width: 48.5%;
}
.pip > * {
    font-weight: 100;
    height: 100%;
    left: -50%;
    position: absolute;
    transform-origin: 50% 100%;
    width: 100%;
}
.pip > strong {
    font-weight: 800
}
.hand {
    position: absolute;
}
.hand-month {
    background-color: #ddd;
    height: 29%; /* 55% - top */
    left: 46.75%; /* 50% - width / 2 */
    top: 26%;
    transform-origin: 50% 82.5%; /* 50% eyeball% */
    transform: rotate(0deg);
    width: 6.5%;
}
#toggle-theme:checked ~ * .hand-month {
    background-color: #222;
}
.hand-day {
    background-color: #bbb;
    height: 39.25%;
    left: 47.75%;
    top: 15.75%;
    transform-origin: 50% 87%;
    transform: rotate(0deg);
    width: 4.5%;
}
#toggle-theme:checked ~ * .hand-day {
    background-color: #444;
}
.hand-hour {
    background-color: #999;
    height: 46.5%;
    left: 48.75%;
    top: 8.5%;
    transform-origin: 50% 89.125%;
    transform: rotate(0deg);
    width: 2.5%;
}
#toggle-theme:checked ~ * .hand-hour {
    background-color: #666;
}
.hand-minute {
    background-color: #777;
    height: 51.45%;
    left: 49.5%;
    top: 3.55%;
    transform-origin: 50% 90.25%;
    transform: rotate(0deg);
    width: 1%;
}
#toggle-theme:checked ~ * .hand-minute {
    background-color: #888;
}
.hand-second {
    background-color: #555;
    height: 54.1%;
    left: 49.875%;
    top: 0.9%;
    transform-origin: 50% 90.75%;
    transform: rotate(0deg);
    width: 0.5%;
}
#toggle-theme:checked ~ * .hand-second {
    background-color: #aaa;
}
.rule {
    background-color: red;
    display: none;
    position: absolute;
}
.rule-hori {
    height: .2%;
    top: 49.9%;
    width: 100%;
}
.rule-vert {
    height: 100%;
    left: 49.9%;
    width: .2%;
}
.digital-month {
    color: #ddd;
}
#toggle-theme:checked ~ * .digital-month {
    color: #222;
}
.digital-day {
    color: #bbb;
}
#toggle-theme:checked ~ * .digital-day {
    color: #444;
}
.digital-hour {
    color: #999;
}
#toggle-theme:checked ~ * .digital-hour {
    color: #666;
}
.digital-minute {
    color: #777;
}
#toggle-theme:checked ~ * .digital-minute {
    color: #888;
}
.digital-second {
    color: #555;
}
#toggle-theme:checked ~ * .digital-second {
    color: #aaa;
}
.toggle {
    background-color: #333;
    cursor: pointer;
    display: inline-block;
    height: 10vw;
    margin: 3.5vw auto;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    transition: background-color 0.25s;
    white-space: nowrap;
    width: 10vw;
}
#toggle-theme:checked ~ .toggle {
    background-color: #777;
}
#toggle-theme:active ~ .toggle {
    background-color: #999;
}
@media screen and (orientation: landscape) {
    .display-analog {
        height: 82.5vh;
        margin: 2.5vh auto;
        width: 82.5vh;
    }
    .display-digital {
        font-size: 6vh;
        width: 82.5vh;
    }
    .pip-month {
        font-size: 7vh;
    }
    .pip-day {
        font-size: 4.25vh;
    }
    .pip-hour {
        font-size: 3vh;
    }
    .pip-minute {
        font-size: 2vh;
    }
    .toggle {
        height: 10vh;
        position: fixed;
        right: 0;
        top: 0;
        width: 10vh;
    }
}
